Repository konerds/mini-ts-http-server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, vitest run --passWithNoTests

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --fix --max-warnings=0",
  "**/*.{test,spec}.{ts,js}": "vitest run --passWithNoTests"
}

docs: Update README draft
  README.md
Due: none

docs: Update README getting started format
  README.md
Due: none

docs: Update architecture specification and related diagrams
  README.md
  assets/diagram-component.png
  assets/diagram-module-dependency.png
  assets/diagram-runtime-flow-request-and-response.png
  assets/diagram-serving-static-resources.png
Due: none

fix: Modify mistakes parsing query logic
  src/core/http/request.ts
Due: eslint --fix --max-warnings=0

feat / refactor: Update accept header checking and Improve code reusability and dependecies
  src/core/http/interfaces/index.ts
  src/core/http/interfaces/status.ts
  src/handler/constants.ts
  src/handler/handler.ts
  src/handler/utils.ts
Due: eslint --fix --max-warnings=0

refactor: Improve checking accept header logic and Change some interfaces to types
  src/core/http/interfaces/request.ts
  src/handler/interfaces.ts
  src/handler/utils.ts
Due: eslint --fix --max-warnings=0

feat: Implement logic for checking size limit of request body and handling multipart-form data
  src/config/index.ts
  src/core/http/constants/encoding.ts
  src/core/http/constants/index.ts
  src/core/http/constants/mime.ts
  src/core/http/constants/status.ts
  src/core/http/index.ts
  src/core/http/response.ts
  src/core/http/server.ts
  src/core/http/utils/index.ts
  src/handler/constants.ts
  src/handler/handler.ts
  src/handler/router.ts
  src/handler/utils.ts
  src/main.ts
Due: eslint --fix --max-warnings=0

chore / fix: Configure path alias for vitest and Modify sanitizing logic for preventing directory traversal
  package.json
  src/handler/handler.ts
  vitest.config.js
  yarn.lock
Due: eslint --fix --max-warnings=0

test: Complete tests for handler
  src/handler/__tests__/accept-fallback.spec.ts
  src/handler/__tests__/block-directory-traversal.spec.ts
  src/handler/__tests__/static-mime-404.spec.ts
  src/handler/__tests__/utils.ts
Due: eslint --fix --max-warnings=0, vitest run --passWithNoTests

docs: Update directory structure
  README.md
Due: none

chore: Update dependency module versions
  package.json
  src/core/http/server.ts
  yarn.lock
Due: eslint --fix --max-warnings=0
